body {
	font-family: Verdana;
	font-size: 16px;
	margin: 0px;
}
header {
	background-color: #4867AA;
    height: inherit;
    width: 102%;
}
header div{
	display: block;
}
.header-left {
    display: inline-block;
    padding: 0 10% 0 10%;
	width: 34%;
}
.header-right{
    display: inline-block;
    overflow: hidden;
    padding: 1.5em 0 1.5em 0;
    width: 45%;
}

.input-group {
    color: white;
}
.header-left img{
    height: 95px;
    width: 250px;
}
.input-group div {
	display: inline-block;
}
.input-group div div {
	display: block;
    font-size: .7em;
}
.input-group div input {
	display: inline;
    border: 1px solid black;
    padding: .3em;
}
.input-group div:first-child {
    margin-right: 1em;
}
.loginButton{
    color: white;
    font-size: 12px;
    text-decoration: none;
    background-color: #4267b2;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid #29487d;
}
.loginButton:hover{
		background-color: #365899;
}
section {
    width: 100%;
    height: inherit;
    background: linear-gradient(#F9F9FC, #D5DAE9);
    padding-left: 3em;
}
section div {
    display: inline-block;
}
.section-left{
    width: 55%;
    height: inherit;
}

.section-right{
    width: 32%;
}

.welcome-message{
    color: #0E385F;
}

.text-welcome{
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    padding: 2em 1em 2em 5em;
    width: 74%;
}

.welcome-message img{
    padding: 0em 0em 0 6em;
    margin-bottom: 20em;
}
h1 {
    font-size: 2.3em;
    margin: 0em;
}
h2 {
    font-size: 1em;
}
.fullname{
    display: inline-block;

}
#name{
    margin-right: 3px;
}
#name, #last-name{
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px 3px 8px 13px;
    width: 10em;
}
.basic-signup input{
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px 3px 8px 13px;
    width: 21.4em;
    margin: .2em 0em;
}
.birthday h2 {
	font-size: 18px;
	font-weight: normal;
}
.birthday div:first-child {
	display: inline;
}
.birthday-button {
	padding-right: 0.3em;
    padding-bottom: .8em;
    overflow: hidden;
}
.birthday div select{
	font-size: 13px;
	padding: 5px;
	margin:-1px;
}
.birthday-privacity {
	width: 10em;
}
.birthday-privacity a{
	font-size: 12px;
	color: #365899;
}
.gender {
	display: block;
	padding: 1em 1em 1em 0em;
}
.gender p{
	font-size: 18px;
	font-weight: lighter;
	display: inline;
	margin-right: 1em;
}
.politics {
	font-size: 11px;
	width: 32em;
	margin-right: 3em;
}
.politics a{
	color: #365899;
}
.register-button{
	font-size: 19px;
	display: block;
	background: linear-gradient(#68A253, #5C9048) ;
	padding: .5em 1em;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	font-weight: bold;
	margin-top: 1em;
	border: .1px solid grey;
	border-radius: .3em;
	cursor: pointer;
}
.register-button:hover{
  	background: linear-gradient(#72B15D, #5C9048);
  	border-top-color: #77B962;
}
.public {
	width: 63%;
	margin-bottom: 1em;
}
.public p {
	font-size: 13px;
}
.public a{
	color: #365899;
}
footer div{
    width: 54%;
    padding: 0 24% 0 24%;
    margin-bottom: 3em
}
.language-container{
	border-width: 0px 0px 2px 0px;
	border-color: grey;
	border-style: solid;
}
footer div a{
	font-size: 12px;
	color: #365899;
	text-decoration: none;
	margin: 0em .2em;

}
ul {
    margin: .3em 0;
    padding: 0;
}
.language-button{
	font-weight: bold;
	color: black;
	border: 1px solid grey;
	background-color: #E9EBEE; 
	padding: .2em .5em;
}

