body {
	font-family: Verdana;
	font-size: 16px;
	margin: 0px;
}
header {
	background-color: #4867AA;
    height: inherit;
    width: 100%;
}
header div{
	display: block;
}
.header-left {
    display: inline-block;
    padding: 0 10% 0 10%;
	width: 34%;
}
.header-right{
    display: inline-block;
    overflow: hidden;
    padding: 1.5em 0 1.5em 0;
    width: 45%;
}

.input-group {
    color: white;
}
.header-left img{
    height: 95px;
    width: 250px;
}
.input-group div {
	display: inline-block;
}
.input-group div div {
	display: block;
    font-size: .7em;
}
.input-group div input {
	display: inline;
    border: 1px solid black;
    padding: .3em;
}
.input-group div:first-child {
    margin-right: 1em;
}
.loginButton{
    color: white;
    font-size: 12px;
    text-decoration: none;
    background-color: #4267b2;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid #29487d;
}
.loginButton:hover{
		background-color: #365899;
}
section {
    width: 100%;
    height: 30em;
    background: linear-gradient(#F9F9FC, #D5DAE9);
    padding-left: 3em;
}
section div {
    display: inline-block;
}
.section-left{
    width: 55%;
}

.section-right{
    width: 32%;
}

.welcome-message{
    color: #0E385F;
}

.text-welcome{
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    padding: 2em 1em 2em 5em;
    width: 74%;
}

.welcome-message img{
    padding: 0em 0em 0 6em;
    margin-bottom: 5em;
}
h1 {
    font-size: 2.3em;
}
h2 {
    font-size: 1em;
}
.fullname{
    display: inline-block;

}
#name{
    margin-right: 3px;
}
#name, #last-name{
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px 3px 8px 13px;
    width: 10em;
}
.basic-signup input{
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px 3px 8px 13px;
    width: 21.4em;
    margin: .2em 0em;
}